/* you can add to or change this. */

body{
  background-color: pink;
}
#game div {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  margin: 20px;
  display: inline-block;
}

body{
 text-align: center;
}

